// Header
.button {
    color: #000;
}
.top-bar ul.button-group {
    margin-right: 15px;
}


// Front Page
.page {
    background: #E7E7E2;
    width: 100%;
}
.slider {
    max-width: 600px;
}
.news {
    ul {
        list-style-type: none;
        line-height: 3.5em;
    }
    h3 {
        -moz-transform: scale(1) rotate(-25deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(-25deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(-25deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(-25deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(-25deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg);
        color: #CE0000;
        text-align: center;
        margin-top: 80px;
        z-index: 1;
    }
}
.servers {
    div {
        text-align: center;
        &:last-child a {
            margin-bottom: 10px;
        }
    }
}
.bot {
    .panel {
        min-height: 210px;
    }
    div {
        &:first-child {
            text-align: center;
        }
    }
}
footer {
    text-align: center;
    margin: 15px;
}