// Header
.button {
    color: #000;
}


// Front Page
.slider {
    max-width: 600px;
}
.news {
    ul {
        list-style-type: none;
        line-height: 3.5em;
    }
}
.servers {
    div {
        text-align: center;
    }
}

// Post
article {

    time {
        font-weight: 400;
        font-style: italic;
        font-size: 14px;
        letter-spacing: 2px;
        text-indent: 0px;
        line-height: 30px;
    }

    blockquote {
        margin-bottom: 25px;
        margin-top: 25px;
        font-size: 26px;
        line-height: 50px;
        font-style: italic;
        font-weight: 600;
        text-align: left;
        text-indent: 16px;
    }

    h1 a:link {
        color: #3295FF;
        text-decoration: none;
    }

    h1 a:visited {
        color: #3295FF;
    }

    h1 a:hover {
        text-decoration: none;
        color: #005DC1;
    }

    h1 {
        font-size: 63px;
        line-height: 80px;
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 700;
        font-family: Ubuntu;
    }

    h2 {
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 25px;
        letter-spacing: 2px;
        font-weight: 400;
        font-style: normal;
    }

    p {
        margin-bottom: 0px;
        text-indent: 16px;
        line-height: 26px;
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
    }

    p.author {
        text-indent: 0px;
        margin-bottom: 25px;
        font-size: 14px;
        letter-spacing: 1px;
        color: #666464;
    }

    p.first {
        text-indent: 0px;
    }
}

footer {
    text-align: center;
}